
<div class="sidebar">
    <div class="scrollbar-inner sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrBQBC8A_xwJz4xJPVizRRea9xZLrjF2zB2Q&s">
            </div>
            <div class="info">
                <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                    <span>
                        Admin
                        <span class="user-level">Admin</span>
                        <span class="caret"></span>
                    </span>
                </a>
                <div class="clearfix"></div>

                <div class="collapse in" id="collapseExample" aria-expanded="true" style="">
                    <ul class="nav">
                        <li>
                            <a href="#profile">
                                <span class="link-collapse">Profil</span>
                            </a>
                        </li>
                        <li>
                            <a href="#edit">
                                <span class="link-collapse">Şifre Değiştir</span>
                            </a>
                        </li>
                        <li>
                            <a href="#settings">
                                <span class="link-collapse">Ayarlar</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a href="/Stats/Index/">
                    <i class="la la-home"></i>
                    <p>Ana Sayfa</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/About/Index/">
                    <i class="la la-bars"></i>
                    <p>Hakkımda</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Experience/ExperienceList/">
                    <i class="la la-calendar"></i>
                    <p>Deneyimler</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Feature/Index/">
                    <i class="la la-map"></i>
                    <p>Öne Çıkan</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Portfolio/Index/">
                    <i class="la la-folder-open"></i>
                    <p>Projeler</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Skill/Index/">
                    <i class="la la-certificate"></i>
                    <p>Yetenekler</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Testimonial/Index/">
                    <i class="la la-user"></i>
                    <p>Referanslar</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/SocialMedia/Index/">
                    <i class="la la-bell"></i>
                    <p>Sosyal Medya</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Login/Logout/">
                    <i class="la la-power-off"></i>
                    <p>Çıkış Yap!</p>
                </a>
            </li>
        </ul>
    </div>
</div>